body {
  background-color: #F2F2F2;
}



/*----HERO----*/

.hero {
  width: 100%;

  display: flex;
  flex-direction: column;

  z-index: 60;
}

/*background*/

.hero-background {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 1;
}

#hero-background-main {
  min-width: 100%;
  width: 100%;
  max-width: 100%;
}

#hero-background-transition {
  min-width: 100%;
  width: 100%;
  max-width: 100%;

  padding-bottom: 3.5vw;

  -webkit-filter: drop-shadow(0vw  3vw  0.01vw #131414);
  filter: drop-shadow(0vw  3vw  0.01vw #131414);
}

/*text*/

.hero-text {
  width: 100%;
  height: 18vw;
  position: absolute;

  display: flex;
  flex-direction: column;

  margin-top: 17vw;

  z-index: 100;
}

#hero-text-logo-colour {
  width: 60%;

  margin-left: auto;
  margin-right: auto;

  -webkit-filter: drop-shadow(0.6vw  0.6vw  0vw #131414);
  filter: drop-shadow(0.6vw  0.6vw  0vw #131414);
}



/*----CONTENT----*/

.content {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
}



/*-----EXAMPLE DASHBOARD------*/

.exdashback{
  width: 100%;
  height: 80vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #F2F2F2;
  box-shadow: 0vw  2vw  0.2vw rgba(0, 0, 0, 0.178);

  z-index: 50;
}

.exdash{
  width: 60vw;
  position: absolute;

  display: flex;

  border-radius: 2vw;
  background-color: #FFFFFF;
  box-shadow: 2vw  2vw  0.2vw rgba(0, 0, 0, 0.178);

  z-index: 50;
}

.basic-info{
  max-width: 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 6%;
}

#city{
  font-weight: 1000;
  font-size: 3vw;
}

.temperature {
  display: flex;
  flex-direction: row;
}

#temp{
  font-size: 3.5vw;
}

#deg {
  font-size: 1.7vw;
  color: #757A7A;
}

.descr{
  font-size: 2vw;
}

.weather-icon{
  max-width: 90%;
}

.extra-info{
  max-width: 80%;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  padding: 6%;
}

.indexname{
  font-size: 1.7vw;
}

.humidity{
  max-width: 50%;
  min-width: 50%;
  max-height: 70%;
  min-height: 70%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hum-ind{
  justify-content: center;
  align-items: center;
}

.wind{
  max-width: 50%;
  min-width: 50%;
  max-height: 70%;
  min-height: 70%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.wind-numer{
  position: absolute;

  display: flex;
  flex-direction: row;
  align-items: baseline;

  margin-top: 5%;

  z-index: 200;
}

#wind-num{
  font-size: 1.5vw;
}

#wind-unit{
  font-size: 0.8vw;
  color: #757A7A;
}

#wind-icon{
  margin-top: 1vw;
  width: 12vw;
}

.uvindex{
  max-height: 30%;
  min-width: 100%;

  display: flex;
  flex-direction: column;

  padding: 4%;
}



/*-----BLUE REGION-----*/

.blue{
  width: 100%;
  height: 70vw;
  position: relative;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  background-color: #2A3F27;

  z-index: 1;
}

.card{
  max-width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 3%;
  padding-left: 22%;
  margin-right: 5%;

  border-radius: 2vw;
  background-color: #ffffff;
  box-shadow: 2vw  2vw  0.2vw rgba(0, 0, 0, 0.178);

  z-index: 10;
}

.blue-p {
  margin-top: 1vw;
}

.blue-p p{
  text-align: left;
  font-size: 1.5vw;
  margin-top: 0.5vw;
}

#lance{
  max-width: 42%;
  position: absolute;
  
  margin-right: 50%;
  
  -webkit-filter: drop-shadow(1vw 1vw 0.2vw rgba(0, 0, 0, 0.178));
  filter: drop-shadow(1vw 1vw 0.2vw rgba(0, 0, 0, 0.178));

  z-index: 20;
}
