body{
    background-color: #F6F6F6;
}



/*----NETWORK HEADER----*/

.net-header {
    max-width: 100%;
    width: 100%;
    min-height: 4.2vw;
    
    justify-content: center;
    align-items: center;

    left: 0;

    background-color: #11C8E4;
    box-shadow: 0vw  0.5vw  0.3vw rgba(0, 0, 0, 0.075);
  
    z-index: 101;
}

.net-container {
    max-width: 90%;
    min-height: 4.2vw;
    position: relative;

    display: flex;
    align-items: center;
        
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;

    background-color: rgba(0, 83, 156, 0);
}

#name {
    font-family: inter;
    font-weight: 600;
    text-align: left;
    font-size: 2.5vw;

    color: #F6F6F6;
}



/*---MAP---*/

.map{
    margin-top: 13%;
    padding-bottom: 2em;
}



/*---INFO---*/

.info {
    position: absolute;
    width: 23.4vw;
    height: 23.4vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    top: 11vw;
    left: 3vw;
    padding: 2vw;

    background-color: #ffffff;
    border-radius: 2vw;
    box-shadow: 1vw  1vw  0.2vw rgba(0, 0, 0, 0.178);

    z-index: 90;
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loc-name {
    font-family: inter;
    font-weight: 800;
    font-size: 3.7vw;
    text-align: left;

    color: #130E01;
  
    z-index: 200;
}

.location-id{
    display: flex;
    flex-direction: row;
}

.location-id-txt{
    font-family: inter;
    font-weight: 300;
    font-size: 1.1vw;
    text-align: left;

    color: #130E01;
}

.station-id{
    font-family: inter;
    font-weight: 300;
    font-size: 1.1vw;
    text-align: left;
    margin-left: 2px;

    color: #11C8E4;
}

.weather {
    display: flex;
    align-items: center;
    flex-direction: row;

    margin-top: 3%;
    margin-bottom: 3%;
}

.weather-icon{
    width: 5.6vw;
    margin-right: 1em;
}

.weather-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

.weather-txt-temp{
    display: flex;
    flex-direction: row;
}

.weather-num{
    font-family: inter;
    font-weight: 300;
    font-size: 3.8vw;

    color: #130E01;

    margin: 0px;
}

#deg{
    font-family: inter;
    font-weight: 300;
    font-size: 1.9vw;

    color: #757A7A;

    margin: 0px;
}

.weather-txt-desc{
    font-family: inter;
    font-weight: 300;
    font-size: 1.4vw;
    text-align: left;

    color: #130E01;

    margin: 0px;
}

.extra{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.extra-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.extra-icon{
    width: auto;
    height: 2.7vw;
}

.extra-txt{
    display: flex;
    flex-direction: column;
}

.extra-txt-numbers{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.extra-txt-numbers-num{
    font-family: inter;
    font-weight: 300;
    font-size: 1.5vw;

    color: #130E01;

    margin: 0px;
}

.extra-txt-numbers-un{
    font-family: inter;
    font-weight: 300;
    font-size: 0.7vw;

    color: #757A7A;

    margin: 0px;
}

.extra-txt-text{
    font-family: inter;
    font-weight: 300;
    font-size: 0.9vw;

    color: #130E01;

    margin: 0px;
}

.button {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.dash-button{
    width: 23vw;
    height: 3vw;

    background-color: #11C8E4;
    border: 0px;
    border-radius: 5vw;
    cursor: pointer;

    font-family: inter;
    font-weight: 300;
    font-size: 1.7vw;
    color: #F6F6F6;
}

.dash-button:hover{
    width: 23vw;
    height: 3vw;

    background-color: #131414;
    border: 0px;
    border-radius: 5vw;
    
    color: #F6F6F6;
    font-family: inter;
    font-weight: 300;
    font-size: 1.7vw;
}

.delete {
    height: 0px;
    width: 0px;
}