body, html {
  height: 100%;
  width: 100%;

  margin: 0%;
  padding: 0px;
}

h1{
  font-family: inter;
  font-weight: 300;
  font-size: 3.3vw;
  text-align: left;

  margin: 0px;

  color: #130E01;
  
  z-index: 100;
}

h3{
  font-family: inter;
  font-weight: 300;
  font-size: 36px;

  margin: 0px;

  color: #F6F6F6;
}
  
h4{
  font-family: inter;
  font-weight: 300;
  font-size: 2vw;
  text-align: left;

  margin: 0px;

  color: #F6F6F6;
}
  
p{
  font-family: inter;
  font-weight: 300;

  margin: 0px;

  color: #130E01;
}



/*----HEADERS----*/

.headers {
  width: 100%;
  position: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: top .3s;

  z-index: 101;
}
  


/*-----GLOBAL HEADER-----*/
  
.global-header {
  max-width: 100%;
  width: 100%;
  min-height: 4.2vw;

  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;

  background-color: #131414;
  box-shadow: 0vw  0.5vw  0.3vw rgba(0, 0, 0, 0.164);

  z-index: 101;
}
  
.container {
  max-width: 100%;
  width: 90%;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  margin-bottom: 0;

  background-color: rgba(0, 83, 156, 0);
}
  
.logo {
  width: auto;
  height: auto;
  overflow: hidden;

  margin: 0;

  background-color: rgba(49, 156, 0, 0);
  cursor: pointer;
}

#logo {
  width: 9.5vw;
  height: auto;
}
  
.navbar {
  position: relative;
  width: 30%;
  height: auto;
  
  margin-left: auto;
  margin-right: auto;
  padding: 0px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgba(156, 0, 104, 0);
}
  
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
  
.navbar button {
  height: 100%;

  padding: 1%;

  font-family: inter;
  color: #F6F6F6;
  font-weight: 700;
  font-size: 1vw;

  border: none;
  background-color: rgba(27, 255, 255, 0);
  cursor: pointer;
}

.navbar button :hover{
  height: 100%;

  padding: 1%;

  font-family: inter;
  color: #F6F6F6;
  font-weight: 700;
  font-size: 0.1vw;

  background-color: rgb(255, 27, 27);
  border: none;
}
  
li {
  display: inline;
  position: relative;
  max-width: auto;
}
  


/*-----FOOTER-----*/

footer{
    min-height: 10vw;
    max-width: 100%;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;

    padding-top: 3em;
    padding-bottom: 3em;

    background-color: #131414;
    box-shadow: 0vw  -0.5vw  0.3vw rgba(0, 0, 0, 0.075);
  }
  
.about{
  min-width: 27%;
  max-width: 27%;
  background-color: #ffffff00;
}
  
.about p{
  font-size: 1vw;
  color: #F6F6F6;
}
  
.socials{
  min-width: 40%;
  max-width: 40%;

  display: flex;
  align-self: center;
  justify-content: space-evenly;
  align-items: center;

  background-color: #ffffff00;
}
  
.socials button{
  background-color: #ffffff00;
  border: 0px;
  cursor: pointer;
}

.socials button :hover{
  width: 3.7vw;
  height: 3.7vw;

  background-color: #ffffff00;
  border: 0px;
  cursor: pointer;
  transition: 0.3s;
}

.socials button :not(:hover){
  width: 4vw;
  height: 4vw;
  transition: 0.3s;
}
  
.support{
  min-width: 27%;
  max-width: 27%;
  background-color: #ffffff00;
}
  
.support a{
  font-family: inter;
  font-size: 1vw;
  font-weight: 300;
  color: #F6F6F6;
}

.socials-img {
  width: 4vw;
  height: 4vw;
}

@media only screen and (max-width: 768px){
  .about{
    display: none;
  }
}