body {
  background-color: #3e6141;
}

/*-----HERO------*/
#hero{
  width: 100%;

  z-index: 1;
}

#transition{
  position: absolute;
  min-width: 100%;
  max-width: 100%;

  z-index: 100;
}

#trans-shadow{
  position: absolute;
  margin-top: 3%;
  min-width: 100%;
  max-width: 100%;
  
  z-index: 1;
}

/*-Word Logo-*/
#word-logo {
  max-width: 60%;
  position: absolute;

  z-index: 100;
}

#word-shadow{
  max-width: 60%;
  position: absolute;
  margin-left: 1%;
  margin-top: 1%;

  z-index: 50;
}

  /*-----BANNER-----*/
  
  .banner{
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 40;
  }



/*-----EXAMPLE DASHBOARD------*/
.exdashback{
  width: 100%;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #F2F2F2;
  box-shadow: 0vw  2vw  0.2vw rgba(0, 0, 0, 0.178);

  z-index: 100;
}

.exdash{
  width: 60vw;
  position: absolute;
  display: flex;
  border-radius: 35px;
  margin-top: 25%;
  
  background-color: #FFFFFF;
  box-shadow: 2vw  2vw  0.2vw rgba(0, 0, 0, 0.178);

  z-index: 100;
}

.basic-info{
  display: flex;
  flex-direction: column;
  max-width: 20%;
  align-items: center;
  justify-content: space-between;

  padding: 6%;
}

#city{
  font-weight: 1000;
  font-size: 3vw;
}

.temperature {
  display: flex;
  flex-direction: row;
}

#temp{
  font-size: 3.5vw;
}

#deg {
  font-size: 1.7vw;
  color: #757A7A;
}

#descr{
  font-size: 2vw;
}

#weather-icon{
  max-width: 90%;
}

.extra-info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80%;
  align-items: center;
  justify-content: flex-start;

  padding-top: 6%;
  padding-bottom: 6%;
  padding-right: 6%;
}

.indexname{
  font-size: 1.7vw;
}

.humidity{
  display: flex;
  flex-direction: column;
  max-width: 50%;
  min-width: 50%;
  max-height: 70%;
  min-height: 70%;
  align-items: center;
  justify-content: space-between;
}

.hum-ind{
  justify-content: center;
  align-items: center;
}

/*.humidity-number{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-top: -40%;
}

#humidity-index{
  max-width: 100%;
}

#humidity-num{
  font-size: 58px;
  position: absolute;
}

#humidity-unit{
  font-size: 34px;
  color: #757A7A;
  position: absolute;
}*/

.wind{
  display: flex;
  flex-direction: column;
  max-width: 50%;
  min-width: 50%;
  max-height: 70%;
  min-height: 70%;
  align-items: center;
}

.wind-numer{
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 5%;
  align-items: baseline;

  z-index: 200;
}

#wind-num{
  font-size: 1.5vw;
}

#wind-unit{
  font-size: 0.8vw;
  color: #757A7A;
}

#wind-icon{
  margin-top: 1vw;
  width: 12vw;
}

.uvindex{
  max-height: 30%;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  padding: 4%;
}


/*-----BLUE REGION-----*/

.blue{
  width: 100%;
  height: 70vw;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  z-index: 1;
}

.card{
  max-width: 40%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-right: 5%;
  padding: 3%;
  padding-left: 22%;

  border-radius: 35px;
  background-color: #ffffff;
  box-shadow: 2vw  2vw  0.2vw rgba(0, 0, 0, 0.178);

  z-index: 10;
}

.blue-p {
  margin-top: 1vw;
}

.blue-p p{
  text-align: left;
  font-size: 1.5vw;
  margin-top: 0.5vw;
}

#lance{
  max-width: 42%;
  position: absolute;
  margin-right: 50%;
  -webkit-filter: drop-shadow(1vw 1vw 0.2vw rgba(0, 0, 0, 0.178));
  filter: drop-shadow(1vw 1vw 0.2vw rgba(0, 0, 0, 0.178));

  z-index: 20;
}
